<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/fragments/header :: headerFragment"></head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">

	<div class="d-flex flex-column flex-root">
		<div class="page d-flex flex-row flex-column-fluid">
			<th:block th:replace="layout/fragments/lnb :: lnbFragment"></th:block>
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<th:block th:replace="layout/fragments/top :: topFragment"></th:block>
				<th:block layout:fragment="content"></th:block>
			</div>
		</div>
	</div>

	<th:block th:replace="layout/fragments/includeJs :: includeJsFragment"></th:block>
</body>

</html>